.card {

  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* font-family: itim, cursive; */
  /* align-items: center; */
  border: 0px solid black;
  border-radius: 20px;
  /* text-align: center; */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.733), rgba(245, 240, 150, 0.37));
  box-shadow: 2px 1px 10px rgb(96, 93, 37);
  padding-left: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .3s;
}

/* .bold {
  font-weight: 900;
} */

/* .card:hover {
    filter: drop-shadow(0px 0px 10px rgb(136, 86, 253))
  } */