.bg {
  background: linear-gradient(to left, rgba(245, 222, 179, 0.646), rgba(245, 222, 179, 0.664)), url("../../public/images/globalagriculture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  background-attachment: fixed;
}
.bga{
  background: linear-gradient(to left, rgba(245, 222, 179, 0.646), rgba(245, 222, 179, 0.664))

}

.head {

  color: rgb(250, 112, 37);
  font-size: 50px;
}

.strong {
  font-family: fantasy;
  color: rgb(255, 64, 0);
  font-size: 75px;

}
.bg{
  text-align: justify;
}
.flex{
  
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}
.btn{
  margin-left: 20px;
}
.img{
  height: auto;
  width: 30%;
  
}
@media screen and (max-width: 600px)  {


  .img{
    height: auto;
    width: 100%;
    
  }
  .flex{
    display: flex;
    flex-direction: column;
  }
}