* {
  margin: 0%;
  padding: 0%;
}

.card {
  /* background: linear-gradient(to bottom right, #159ce4b9,#134fdca2, #9c16df); */
  display: grid;
  /* flex-direction: row; */
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 20px;
  user-select: none;



}
.all{
background-attachment: fixed;
 background: linear-gradient(to left, rgba(245, 222, 179, 0.646), rgba(245, 222, 179, 0.664)), url("../public/images/globalagriculture.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 30px;
  /* margin: 30px; */
}
.search{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 15px 20px;
  /* padding: 20px; */
}
.btn{
  margin: 10px;
}

.centre{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgba(254, 136, 33, 0.893);
}